*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
  background-image: url("../images/Home-page 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

button{
  /* margin-top: 50px; */
  margin-bottom: 32px;
  margin-right: 36px;
  font-size: 10px;
  padding: 7px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828;
  gap: 7px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: .3s;
}

button i{
  padding: 6px 6.5px;
  border-radius: 50%;
  background-color: #f3c21f;
  color: #282828;
}

button a{
  color: white;
  font-weight: 600;
}

button:hover{
  background-color: #f3c21f;

}

button:hover i{
  background-color: #282828;
  color: #f3c21f;
}

