*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #242524;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/rotateimg.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}


button{
  margin-bottom: 32px;
  margin-right: 36px;
  font-size: 12px;
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828;
  gap: 7px;
  border-radius: 9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: .3s;
  position: absolute;
  bottom: 7%;
  left: 54.5%;
  transform: translateX(-50%)  rotate(90deg);
}

button i{
  padding: 6px 6.5px;
  border-radius: 50%;
  background-color: #f3c21f;
  color: #282828;
}

button a{
  color: white;
  font-weight: 600;
}

button:hover{
  background-color: #f3c21f;
  
}

button:hover a{
  color: #282828;
  font-weight: 800;
}

button:hover i{
  background-color: #282828;
  color: #f3c21f;
}

@media (max-height: 885px) {
  .container{
    background-repeat: repeat;
  }
  button{
    padding: 10px 15px;
    font-size: 10px;
    bottom: 5%;
  }
}

@media (max-height: 855px) {
  button{
    bottom: 6.5%;
  }
}

@media (max-height: 780px) {
  button{
    bottom: 5%;
  }
}

@media (max-height: 700px) {
  button{
    bottom: 3%;
  }
}


@media (max-height: 650px) {
 
  button {
    bottom: 2%;
  }
}

@media (max-height: 600px) {
 
  button {
    bottom: 1%;
  }
}

@media (max-height: 550px) {
 
  button {
    bottom: 1%;
  }
}

@media (max-height: 500px) {

  button {
    bottom: 0.5%;
  }
}

@media (max-height: 450px) {
 
  button {
    bottom: 0;
  }
}